# Template for unit tests for better reuse
.job_template: &building
  image: webdevops/php:$DOCKER_TAG
  only:
    - branches
  except:
    - master
  stage: build
  before_script:
    - curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
    - export COMPOSER_CACHE_DIR=/cache/composer
    - composer require typo3/cms="${TYPO3_VERSION}"
    - export TYPO3_PATH_WEB="$PWD/.Build/Web"
  script:
    - .Build/bin/phpunit -c .Build/Tests/UnitTests.xml

cache:
  paths:
    - cache/

stages:
  - build
  - test
  - deploy

# Unit Tests in PHP 5.6 and TYPO3 6.2
php56-typo3-62:
  <<: *building
  variables:
    DOCKER_TAG: debian-8
    TYPO3_VERSION: ^6.2

# Unit Tests in PHP 5.6 and TYPO3 7.6
php56-typo3-7:
  <<: *building
  variables:
    DOCKER_TAG: debian-8
    TYPO3_VERSION: ^7.6

# Unit Tests in PHP 7.0 and TYPO3 7.6
php7-typo3-7:
  <<: *building
  variables:
    DOCKER_TAG: debian-9
    TYPO3_VERSION: ^7.6

# Unit Tests in PHP 7.0 and TYPO3 8 (latest stable release)
php7-typo3-8:
  <<: *building
  variables:
    DOCKER_TAG: debian-9
    TYPO3_VERSION: ^8

# Unit Tests in PHP 7.0 and TYPO3 (current master)
php7-typo3-master:
  <<: *building
  variables:
    DOCKER_TAG: debian-9
    TYPO3_VERSION: dev-master

# TER Upload when tagging in master branch
# The variables T3O_USERNAME and T3O_PASSWORD should be set in GitLab
ter-upload:
  only:
    - tags
    - master
  before_script:
    - curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
    - export COMPOSER_CACHE_DIR=/cache/composer
  script:
    - composer install
    - export TYPO3_PATH_WEB="$PWD/.Build/Web"
    - >
      if [ -n "$CI_BUILD_TAG" ] && [ -n "$T3O_USERNAME" ] && [ -n "$T3O_PASSWORD" ]; then
        echo -e "Preparing upload of release ${CI_BUILD_TAG} to TER\n"
        # Cleanup before we upload
        git reset --hard HEAD && git clean -fx
        # Upload
        TAG_MESSAGE=`git tag -n10 -l $CI_BUILD_TAG | sed 's/^[0-9.]*[ ]*//g'`
        echo "Uploading release ${CI_BUILD_TAG} to TER"
        .Build/bin/upload . "$T3O_USERNAME" "$T3O_PASSWORD" "$TAG_MESSAGE"
      fi;